{{#partial "content"}}

    <h2>List of Authors</h2>


    {{#if authors}}
        {{#each authors}}
            <p><a href="/authors/{{authorsId}}">{{ name }}</a></p>
        {{/each}}
    {{else}}
        <p id="no-authors">No posts</p>
    {{/if}}


{{/partial}}

{{> layout.hbs}}