{{#partial "content"}}

    <h1>Author list!</h1>

    {{#if authors}} <!--if posts exist, then -->
        {{#each authors}} <!--loop-->
            <p>Current author:</p>
            <p>{{name}}</p>

            <p>{{post.content}}</p>

            <p><a href = "/authors/{{id}}">Author Details</a></p>
        {{/each}}
    {{else}}
    <p>No posts!</p>
    {{/if}}

{{/partial}}

{{> layout.hbs}}