{{#block "header"}}

<!DOCTYPE html>
<html>
<head>
   <title>{{#block "title"}}Blog{{/block}}</title>

   <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/styles.css'>
</head>
<body>
{{/block}}
<ul class="nav nav-tabs">
   <li role="presentation"><a href="/">Home</a></li>
    <ul class = "dropdown-menu">
        {{#if authors}}
            {{#each authors}}
                <li><a href = "/authors/{{authorId}}">{{name}}</a></li>
                {{/each}}
                <li><a href="/authors/new">Add author</a></li>
            {{else}}
                <li><a href ="/authors/new"> Add an Author</a></li>
            {{/if}}
        </ul>
</ul>
<div class="container">
   <!--begin main template-->
   <div class="page-header">
       <img src="/img/chicken.jpg" width="100%">
       <h1>Welcome to Kate's Blog. <small> A journey into mania</small></h1>
   </div>
   <div class="col-md-12">
       {{#block "content"}}
       {{/block}}
   </div>
</div>
<!--end main template-->
{{#block "footer"}}
    <footer class="footer">
        <div class="container">
            <p class="text-muted"><a href ="/authors/new">ADD AN AUTHOR</a></p>
            <p class="text-muted"><a href = "/"></a></p>
            <p class="text-muted"><a href="/posts/delete">DELETE ALL POSTS</a></p>
            <p class="text-muted"><a href="/authors/deleteAll">DELETE ALL AUTHORS</a></p>
        </div>
    </footer>
   </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
   </html>
{{/block}}



