{{#partial "content"}}


<p>Content:</p>
<p>{{ post.content }}</p>


<h5>Post status:</h5>
<p>

    <a href="/posts/update{{post.id}}/update">Edit this post</a><br>
    <a href="/posts/{{post.id}}/delete">DELETE this post (no undo)</a>
</p>
{{/partial}}

{{> layout.hbs}}